In [1]:
import pandas as pd
from time import time
import json
f = open ('credential.json', "r")
credential = json.loads(f.read())

In [2]:
import pyodbc as po
 
# Connection variables
server = credential['server']
database = credential['database']
username = credential['username']
password = credential['password']
 
# Connection string
cnxn = po.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=' +
        server+';DATABASE='+database+';UID='+username+';PWD=' + password + ';TrustServerCertificate=yes')
cursor = cnxn.cursor()

In [9]:
query_lst_not_ordered = [6, 8, 9, 11, 12, 15, 20, 22, 29, 31, 38, 41, 42, 49, 50, 52, 89, 93]
query_lst = [1, 2, 3, 4, 5, 7, 10, 13, 14, 16, 17, 18, 19, 21, 23, 24, 25, 26, 27, 28, 30, 32, 33, 34, 35, 36, 37, 39, 40, 43, 44, 45, 46, 47, 48, 51, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 90, 91, 92, 94, 95, 96, 97, 98, 99]

In [10]:
# query_lst = [1, 3]
df = pd.DataFrame(columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
df

Empty DataFrame
Columns: [query, time1, time2, time3, time4, time5]
Index: []

In [8]:
for query_num in query_lst:
    tmp_lst = []
    tmp_lst.append(query_num)
    f = open("../query_sqlserver_org_order/query_{}.sql".format(query_num), 'r')
    query = f.read()
    for i in range(5):
        tic = time()
        cursor.execute(query)
        toc = time()
        t = toc - tic
        tmp_lst.append(t)
    new_df = pd.DataFrame([tmp_lst],columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
    df = pd.concat([df, new_df],axis=0)
    print(df,'\n')

  query     time1     time2     time3     time4     time5
0     1  0.214728  0.189719  0.176629  0.177929  0.169751

  query     time1     time2     time3     time4     time5
0     1  0.214728  0.189719  0.176629  0.177929  0.169751
0     3  0.298691  0.294265  0.293336  0.293130  0.292227

# Cursor examples

In [6]:
cursor.execute("SELECT TOP (10) * from call_center")

In [7]:
row = cursor.fetchone()
while row:
    # Print the row
    print(str(row[0]) + ", " + str(row[1] or '') + ", " + str(row[2] or '') + ", " + str(row[3] or ''))
    row = cursor.fetchone()

1, AAAAAAAABAAAAAAA, 1998-01-01,
2, AAAAAAAACAAAAAAA, 1998-01-01, 2000-12-31
3, AAAAAAAACAAAAAAA, 2001-01-01,
4, AAAAAAAAEAAAAAAA, 1998-01-01, 2000-01-01
5, AAAAAAAAEAAAAAAA, 2000-01-02, 2001-12-31
6, AAAAAAAAEAAAAAAA, 2002-01-01,