In [1]:
import pandas as pd
from time import time
import json
f = open ('credential.json', "r")
credential = json.loads(f.read())

In [2]:
import pyodbc as po
 
# Connection variables
server = credential['server']
database = credential['database']
username = credential['username']
password = credential['password']
 
# Connection string
cnxn = po.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=' +
        server+';DATABASE='+database+';UID='+username+';PWD=' + password + ';TrustServerCertificate=yes')
cursor = cnxn.cursor()

In [3]:
query_lst_not_ordered = [49]
query_lst_too_long = [14]
query_lst = [6, 8, 9, 11, 12, 15, 20, 22, 29, 31, 38, 41, 42, 50, 52, 89, 93]

In [4]:
# query_lst = [1, 3]
df = pd.DataFrame(columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
df

Empty DataFrame
Columns: [query, time1, time2, time3, time4, time5]
Index: []

In [5]:
for query_num in query_lst:
    tmp_lst = []
    tmp_lst.append(query_num)
    f = open("../query_sqlserver_org_order/query_{}.sql".format(query_num), 'r')
    query = f.read()
    for i in range(5):
        tic = time()
        cursor.execute(query)
        toc = time()
        t = toc - tic
        tmp_lst.append(t)
    new_df = pd.DataFrame([tmp_lst],columns=['query', 'time1', 'time2', 'time3', 'time4', 'time5'])
    df = pd.concat([df, new_df],axis=0)
    print(df,'\n')

  query     time1     time2     time3    time4     time5
0     6  0.604735  0.393223  0.384512  0.36239  0.370314

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672
0    41  0.021954  0.012542  0.012094  0.012285  0.012381

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672
0    41  0.021954  0.012542  0.012094  0.012285  0.012381
0    42  0.327657  0.295708  0.299660  0.325065  0.289336

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672
0    41  0.021954  0.012542  0.012094  0.012285  0.012381
0    42  0.327657  0.295708  0.299660  0.325065  0.289336
0    50  0.093037  0.042758  0.052568  0.053308  0.041884

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672
0    41  0.021954  0.012542  0.012094  0.012285  0.012381
0    42  0.327657  0.295708  0.299660  0.325065  0.289336
0    50  0.093037  0.042758  0.052568  0.053308  0.041884
0    52  0.326111  0.303855  0.315391  0.300231  0.307857

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672
0    41  0.021954  0.012542  0.012094  0.012285  0.012381
0    42  0.327657  0.295708  0.299660  0.325065  0.289336
0    50  0.093037  0.042758  0.052568  0.053308  0.041884
0    52  0.326111  0.303855  0.315391  0.300231  0.307857
0    89  0.402797  0.377032  0.386648  0.384577  0.381097

  query     time1     time2     time3     time4     time5
0     6  0.604735  0.393223  0.384512  0.362390  0.370314
0     8  0.662025  0.313958  0.311477  0.316313  0.314241
0     9  1.780761  1.763588  1.766379  1.819247  1.861853
0    11  2.205330  1.242429  1.226481  1.240949  1.238536
0    12  0.065678  0.054173  0.056864  0.054759  0.060543
0    15  0.468738  0.387052  0.380853  0.367627  0.379655
0    20  0.090892  0.084393  0.086937  0.080594  0.084269
0    22  0.336962  0.301083  0.302242  0.298223  0.306329
0    29  1.280347  0.666966  0.667943  0.667694  0.664298
0    31  1.486488  1.165256  1.255765  1.222091  1.180109
0    38  2.104816  1.588669  1.551929  1.581113  1.552672
0    41  0.021954  0.012542  0.012094  0.012285  0.012381
0    42  0.327657  0.295708  0.299660  0.325065  0.289336
0    50  0.093037  0.042758  0.052568  0.053308  0.041884
0    52  0.326111  0.303855  0.315391  0.300231  0.307857
0    89  0.402797  0.377032  0.386648  0.384577  0.381097
0    93  0.581093  0.581260  0.580613  0.582868  0.588268

In [6]:
df.to_csv('result3.csv', index=False)

In [13]:
tmp_lst

[14]

# Cursor examples

In [6]:
cursor.execute("SELECT TOP (10) * from call_center")

In [7]:
row = cursor.fetchone()
while row:
    # Print the row
    print(str(row[0]) + ", " + str(row[1] or '') + ", " + str(row[2] or '') + ", " + str(row[3] or ''))
    row = cursor.fetchone()

1, AAAAAAAABAAAAAAA, 1998-01-01,
2, AAAAAAAACAAAAAAA, 1998-01-01, 2000-12-31
3, AAAAAAAACAAAAAAA, 2001-01-01,
4, AAAAAAAAEAAAAAAA, 1998-01-01, 2000-01-01
5, AAAAAAAAEAAAAAAA, 2000-01-02, 2001-12-31
6, AAAAAAAAEAAAAAAA, 2002-01-01,